* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    text-align: center;
    font-family: 'Noto_sans' , sans-serif;
    background-image: linear-gradient(to left bottom, #26294e, #222446, #1e203e, #1a1b36, #16172e);
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
}
::selection {
    background-color: #bf47eb7d;
}
.content {
    display: none;
}
.pre-loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #1d1f3e, #1d1f3e, #1d1f3e, #1d1f3e, #1d1f3e);
}
.pl,
.pl__worm {
 animation-duration: 4s;
 animation-iteration-count: infinite;
}
.pl {
 animation-name: bump5;
 animation-timing-function: linear;
 width: 5em;
 height: 5em;
}
.pl__ring {
 stroke: hsla(var(--hue),10%,10%,0.1);
 transition: stroke 0.3s;
}
.pl__worm {
 animation-name: worm5;
 animation-timing-function: cubic-bezier(0.42,0.17,0.75,0.83);
}
@keyframes bump5 {
 from,
  42%,
  46%,
  51%,
  55%,
  59%,
  63%,
  67%,
  71%,
  74%,
  78%,
  81%,
  85%,
  88%,
  92%,
  to {
  transform: translate(0,0);
 }

 44% {
  transform: translate(1.33%,6.75%);
 }

 53% {
  transform: translate(-16.67%,-0.54%);
 }

 61% {
  transform: translate(3.66%,-2.46%);
 }

 69% {
  transform: translate(-0.59%,15.27%);
 }

 76% {
  transform: translate(-1.92%,-4.68%);
 }

 83% {
  transform: translate(9.38%,0.96%);
 }

 90% {
  transform: translate(-4.55%,1.98%);
 }
}

@keyframes worm5 {
 from {
  stroke-dashoffset: 10;
 }

 25% {
  stroke-dashoffset: 295;
 }

 to {
  stroke-dashoffset: 1165;
 }
}
.lyric {
    margin: 0 auto;
    padding: 15px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    background-color: #21244ea8;
    border: 3px solid #8225e053;
    width: 340px;
    height: 100px;
    border-radius: 5px;
}
.lyric-content {
    padding: 5px 0;
    color: #ab85d053;
}
textarea {
    resize: none;
    font-family: sans-serif;
}
textarea::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
    height: 20%;
    border-radius: 10px;
    background-color: #8425E0;
    outline: 1px solid #8225e053;
}
.fi {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.color-grey{
    color: #919191bb;
}
.album {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.fi-ss-angle-small-left{
    position: absolute;
    left: 10px;
}
.fi-ss-angle-small-left:hover{
    color: #bf47eb;
}
.album-name {
    cursor: pointer;
    transition: .3s;
}
.album-name:hover {
    color: rgba(105, 105, 105, 0.858);
}
.img-style {
    border-radius: 15px;
    box-shadow: 0 0 35px 0  #bf47eb31;
}
.artist {
    cursor: pointer;
    transition: .3s;
}
.artist:hover {
    color: #bf47eb;
}
.bar {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.fi-sr-time-forward-ten {
    margin: 0 40px;
}
.change {
    transform: rotateY(180deg);
    margin-right: 30px;
}
.fi-sr-play , .fi-sr-pause {
    background-image: linear-gradient(to right bottom, #8425e0, #942de3, #a336e5, #b13ee8, #bf47eb);
    border-radius: 50%;
    box-shadow: 0 0 30px 0 #8225e073;
}
.fi-sr-play:hover , .fi-sr-pause:hover {
    background-image: linear-gradient(to left top, #8425e0, #942de3, #a336e5, #b13ee8, #bf47eb);
    box-shadow: 0 0 40px 0 #8225e073;
}
.progress {
    cursor: pointer;
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #21244e;
    outline: none;
    border-radius: 15px;
    overflow: hidden;

}
.progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #a336e5;
    cursor: pointer;
    border: 3.5px solid #fff;
    box-shadow: 
    -300px 0 40px 270px  #bf47eb, 
    -350px 0 50px 250px #b13ee8,
    -400px 0 60px 220px  #a336e5,
    -450px 0 70px 170px #942de3,
    -277px 0 80px 120px #8425E0;
}
.progress::-moz-range-thumb{
    -moz-appearance: none;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #a336e5;
    cursor: pointer;
    border: 3.5px solid #fff;
    box-shadow: 
    -300px 0 40px 270px  #bf47eb, 
    -350px 0 50px 250px #b13ee8,
    -400px 0 60px 220px  #a336e5,
    -450px 0 70px 170px #942de3,
    -277px 0 80px 120px #8425E0;
}
.mrg-tp{
    margin-top: 20px;
}
.song-info {
    margin-top: 2em;
}
.song-info p {
    margin-top: 8px;
}
.song-progress {
    margin-top: 2em;
}
.time {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.social {
    display: flex;
    justify-content: center;
}
.social .fi {
    padding: 13px;
}
.social .fi {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.fi-sr-time-forward-ten:hover , .mode-toggel:hover , .heart:hover {
    color: #d487f0af;
}
.fi-sr-heart {
    color: #8425E0;
}
.made {
    color: #bf47eb;
}
